# OSX
.DS_Store

.cache

# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
build

# env variables
.env

# compiled styles
src/**/main.css
src/**/main-trader.css

# test output
test_outputs/
test_output/
test_outputs/

.idea/
.gradle/
